/* custom font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* variables */
:root {
  --primary: #000;
  --secondary: #f2821a;
  --warning: #da0f41;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
}

/* buttons */
button,
.btn {
  background: var(--secondary);
  border-radius: 20px;
  border: 0;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
.tags {
  background: #aaa;
  border-radius: 10px;
  border: 0;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
button:hover,
.tags:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}
.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.content button {
  width: 55%;
  text-transform: uppercase;
}
.errorborder {
  border: 1px solid red;
}
.invalidsign{
  opacity: 0.5;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
}
input,
textarea {
  border: 1px solid #ddd;
  padding: 13px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  background: #f5fafa;
  text-indent: 10px;
  border-radius: 25px;
  padding-right: 5vh;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}
.password-area {
  position: relative;
}
.password-area div {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
